.projects {
  
}

.projects-main-container {
  display: flex;
  flex-wrap: wrap;
}

.project-card-container {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.411);
}

.project-name {
  padding: 10px
}

.project-beneficiaries,
.project-budget {
  background: lightgray;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.search-input {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 5px;
  font-size: 14px;
}